/*  Include Bootstrap css */
@import "bootstrap/index";

/* Custom Styles */
.container-fluid{
	background: #ccc;
	&.green{
		border-top: 10px solid green;
	}
	&.red{
		border-top: 10px solid red;
	}
	.btn.start{
		color: #fff;
		background: green;
	}
		.btn.stop{
		color: #fff;
		background: red;
	}
	.border{
		border: 1px solid #000;
	}
}
