<section class="how-it-works-page">
    <div class="container">
        <h1 class="text-center">How it Works</h1>
        <h2>Main Steps</h2>
        <ul>
            <li>Authentication/Symbol Prep. - Authorize use of <a href="https://developers.tradeking.com/" target="_blank">TradeKing.com API</a></li>
            <li>Tier Process - Tier system to run through all stock symbols</li>
            <li>Stock Tests - Runs all stocks through tests</li>
            <li>Buckets - Put stocks in buckets for best trades</li>
        </ul>
        <h3>Authentication/Symbol Prep.</h3>
        <ul>
            <li>Uses oAuth to authorize</li>
            <li>Makes JSON call to get public and secret keys/tokens</li>
            <li>Makes JSON call to get all stock symbols</li>
            <li>Formats symbols into a string and start the tier process</li>
        </ul>
        <h3>Tier Process</h3>
        <ul>
            <li>Makes a call to TradeKing's REST API every second(api limit 1 call/sec.) to get data for 350 stocks.</li>
            <li>Afer each call it puts the 350 stocks through different tests.</li>
        </ul>
        <h3>Stock Tests</h3>
        <ul>
            <li>Using these <a href="https://developers.tradeking.com/documentation/market-ext-quotes-get-post" target="_blank">data points</a>(under the data fields section) tests are run to determine if the stock fits a certain criteria</li>
            </li>
            <li>Volume Test
                <p>This a volume tier process where it makes sure the cumlative volume is above a certain threshold on the hour every hour.</p><small>All stocks go through this test first. If it passes then it moves to the next.</small></li>
            <li>ABCD Test
                <p>This test consists of three smaller tests</p>
            </li>
            <li>VWAP Test<p>Checks to see how far</p></li>
            <li>If the stock passes all the tests then it gets added to a bucket.</li>
            <li>Then it makes another API call for 350 more stocks.</li>
        </ul>
        <h3>Buckets</h3>
        <ul>
            <li>Once it makes through all the stocks it then applies the buckets of data to the view.(avg. 10 secs.)</li>
            <li>Three Main Buckets
                <ul>
                    <li>ABCD</li>
                    <li>VWAP</li>
                    <li>Fast Moving</li>
                </ul>
            </li>
            <li>Then the Tier Process starts over again and runs through all the stock symbols</li>
        </ul>
        <h3>Using the App</h3>
        <ul>
            <li>Start/Stop Buttons - Make the app start/stop scanning the stocks</li>
            <li>Green Border  - Scanner is working</li> 
            <li>Red Border  - Scanner has stopped</li> 
            <li>Blue Border  - There is an error</li> 
            <li>Above each bucket you have variables you can change to update your scanning paramaters</li> 
        </ul>
    </div>
</section>