<section class="home-page">
    <div class="container">
        <h1 class="text-center margin-50-tb">Stock Scanner App</h1>
        <div class="row padding-20">
            <div class="col-md-6 col-xs-12">
        
                <h2>Features:</h2>
                <ul>
                    <li>Real time stock scanner</li>
                    <li>Scans 7500<sup>+</sup> stocks in secs.</li>
                    <li>Exchanges NYSE, NASDQ, AMEX</li>
                    <li>Pattern Recognition</li>
                    <li>Built for day trading</li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-12"><img class="img-responsive" src="/img/bull-vs-bear.png" /></div>
        </div>
    </div>
</section>