<section class="how-it-works-page">
    <div class="container">
        <div class="row padding-20">
            <div class="col-xs-12">
                <h1 class="text-center margin-50-tb">How it Works</h1>
                <h2>Main Steps</h2>
                <ul>
                    <li>Authentication/Symbol Prep/Get Stock Data - Authorize use of <a href="https://developers.tradeking.com/" target="_blank">TradeKing.com API</a></li>
                    <li>Stock Tests - Runs all stocks through tests</li>
                    <li>Buckets - Put stocks in buckets for best trade setups</li>
                </ul>
                <h3>Authentication/Symbol Prep/Get Stock Data</h3>
                <ul>
                    <li>Uses oAuth to authorize</li>
                    <li>Makes JSON call to get public and secret keys/tokens</li>
                    <li>Makes JSON call to get all stock symbols</li>
                    <li>Formats symbols into a string and starts scanning</li>
                    <li>Makes a call to TradeKing's REST API every second(api limit 1 call/sec.) to get data then puts them through the tests.</li>
                </ul>
               
                <h3>Stock Tests</h3>
                <ul>
                    <li>Using these <a href="https://developers.tradeking.com/documentation/market-ext-quotes-get-post" target="_blank">data points</a>(under the data fields section) tests are run to determine if the stock fits a certain criteria</li>
                    </li>
                    <li>Volume Test
                        <p>This a volume tier process where it makes sure the cumlative volume is above a certain threshold on the hour every hour. <br /><small>All stocks go through this test first. If it passes then it moves to the next.</small></p></li>
                    <li>ABCD Test
                        <p>This test consists of three smaller tests</p>
                    </li>
                    <li>VWAP Test
                        <p>Checks to see how far</p>
                    </li>
                    <li>If the stock passes a test then it gets added to that bucket.</li>
                </ul>
                <h3>Buckets</h3>
                <ul>
                    <li>Once it makes through all the stocks it then applies the buckets of data to the view.(avg. 4 secs.)</li>
                    <li>Three Main Buckets
                        <ul>
                            <li>ABCD</li>
                            <li>VWAP</li>
                            <li>Speed</li>
                        </ul>
                    </li>
                </ul>
                <h3>Using the App</h3>
                <ul>
                    <li>Start/Stop Buttons - Make the app start/stop scanning the stocks</li>
                    <li>Green Bar - Scanner is working</li>
                    <li>Red Bar - Scanner has stopped</li>
                    <li>Yellow Bar - There is an error</li>
                    <li>Click Settings and you will have variables you can change to update your scanning paramaters</li>
                </ul>
            </div>
        </div>
    </div>
</section>