<section class="plan-page">
    <div class="container">
        <div class="row padding-20">
            <div class="col-xs-12">
                <h1 class="text-center margin-50-tb">Trading Plan</h1>
                <h3>Prep. for Trades the night before</h3>
                <p>Go through  <a href="https://www.investorsunderground.com/dash" target="_blank">Investors Live Swing Chat Room</a></p>
                <p>Go through <a href="http://bullsonwallstreet.com/trading-watch-list-03-27-2017/" target="_blank">Bulls on Wall Street</a> watchlist scan</p>
                <p>Use application swing scan to find swing trades</p>
                <p>Make Swing Trade Watchlist</p>
                <p>Go through Investors Live watchlist Scans(mainly Nate)</p>
                <p>Make a day trading watch list</p>
                <p>Enter in watchlist picks with pricing in the I-Live test</p>
                <p>Wake up 8am. Go through watchlist to see what is setting up. Look for good risk/reward.</p>
                <p>Look for morning trades first. and then midday, then late day trades in the playbook</p>
            </div>
        </div>
    </div>
</section>
