<section class="playbook-page">
    <div class="container">
        <h1 class="text-center margin-50-tb">Play Book</h1>
        <div class="row padding-20">
            <div class=" col-sm-6 col-xs-12">
                <h3>Gap Test</h3>
                <img class="img-responsive" src="/img/playbook/gap-test.jpg" />
                <p class="padding-20">Time of Day: Morning
                    <br/> Type of Trade: Short
                    <br /> Stock has trend in pre-market. Stock has gapped up from yesterday's close. It runs and over extends. Look for first bearish candle. Risking off the HOD.</p>
            </div>
            <div class=" col-sm-6 col-xs-12">
                <h3>ABCD Test</h3>
                <img class="img-responsive" src="/img/playbook/abcd-test.jpg" />
                <p class="padding-20">Time of Day: Midday
                    <br> Type of Trade: Buy
                    <br>Stock develops ABCD pattern. (A)Push in the morning (B)Pullback to VWAP (C)Consildates over VWAP (D)Breakout EOD Look to buy after pop over VWAP. Risk below (B) support</p>
            </div>
        </div>
        <div class="row padding-20">
            <div class=" col-sm-6 col-xs-12">
                <h3>Speed Test</h3>
                <img class="img-responsive" src="/img/playbook/speed-test.jpg" />
                <p class="padding-20">Time of Day: Anytime
                    <br> Type of Trade: Buy/Short
                    <br> Stock runs and over extends quickly. Jump on trend off the bounce off VWAP. Usually best for scalping $.50 - $1 moves</p>
            </div>
            <div class=" col-sm-6 col-xs-12">
                <h3>Swing Test</h3>
                <img class="img-responsive" src="/img/playbook/swing-test.jpg" />
                <p class="padding-20">Time of Day: Multi-Day
                    <br/> Type of Trade: Buy/Short
                    <br />Stock had twin tower type candles that are very large. Usually signals a swing trade reversal. Look to buy/short the next day off red to green or green to red kind of move.</p>
            </div>
        </div>
        <div class="row padding-20">
            <div class=" col-sm-6 col-xs-12">
                <h3>VWAP Test</h3>
                <img class="img-responsive" src="/img/playbook/vwap-test.jpg" />
                <p class="padding-20">Time of Day: Late Day
                    <br/> Type of Trade: Short
                    <br /> Stock has trended all day. It over extends on VWAP +10% and it extends off trend line. Look for people taking profits in the last hr.</p>
            </div>
            <div class=" col-sm-6 col-xs-12">
                <h3>Morning Flag Test</h3>
                <p class="padding-20">Time of Day: Morning
                    <br/> Type of Trade: Buy
                    <br /> Stock opens with a morning push. It pullsback to VWAP. Look to buy around VWAP and eye other levels of support.</p>
            </div>
        </div>
        <div class="row padding-20">
            <div class=" col-sm-6 col-xs-12">
                <h3>Red to Green Test</h3>
                <p class="padding-20">Time of Day: Morning
                    <br/> Type of Trade: Buy
                    <br /> Prior day stock has lots of volume. Look for pullback and support lines to join trend. </p>
            </div>
        </div>
    </div>
</section>
