<section class="playbook-page">
    <div class="container">
        <h1 class="text-center margin-50-tb">Play Book</h1>
        <div class="row padding-20">
            <div class=" col-sm-6 col-xs-12">
                <h3>Failed Follow Through Momo</h3>
                <img class="img-responsive" src="/img/playbook/gap-test.jpg" />
                <p class="padding-20"><b>Time of Day:</b> Morning
                    <br/> <b>Type of Trade:</b> Short (Day)
                    <br /><b>Description:</b> Stock has trend in pre-market. Stock has gapped up from yesterday's close. It runs and over extends. Look for first bearish candle. Risking off the HOD.
                    <br /> <b>Test to use:</b> Investors live Test</p>
            </div>
            <div class=" col-sm-6 col-xs-12">
                <h3>Morning Flag</h3>
                <p class="padding-20"><b>Time of Day:</b> Morning
                    <br /> <b>Type of Trade:</b> Buy (Day)
                    <br /> <b>Description:</b> Stock opens with a morning push. It pullsback to VWAP. Look to buy around VWAP and eye other levels of support.
                    <br /><b>Test to use:</b> Flag Test</p>
                </p>
            </div>
        </div>
        <div class="row padding-20">
            <div class=" col-sm-6 col-xs-12">
                <h3>Red to Green</h3>
                <img class="img-responsive" src="/img/playbook/red-green-test.jpg" />
                <p class="padding-20"><b>Time of Day:</b> Morning
                    <br /> <b>Type of Trade:</b> Buy (Day)
                    <br /> <b>Description:</b> Prior day stock has lots of volume. Look for pullback and support lines to join trend. Support was above $25 on this stock.
                    <br /><b>Test to use:</b> Investors live Test</p>
            </div>
            <div class=" col-sm-6 col-xs-12">
                <h3>ABCD</h3>
                <img class="img-responsive" src="/img/playbook/abcd-test.jpg" />
                <p class="padding-20"><b>Time of Day:</b> Midday
                    <br> <b>Type of Trade:</b> Buy (Day)
                    <br><b>Description:</b> Stock develops ABCD pattern. (A)Push in the morning (B)Pullback to VWAP (C)Consildates over VWAP (D)Breakout EOD Look to buy after pop over VWAP. Risk below (B) support
                    <br /> <b>Test to use:</b> ABCD Test</p>
            </div>
        </div>
        <div class="row padding-20">
            <div class=" col-sm-6 col-xs-12">
                <h3>Speed</h3>
                <img class="img-responsive" src="/img/playbook/speed-test.jpg" />
                <p class="padding-20"><b>Time of Day:</b> Anytime
                    <br> <b>Type of Trade:</b> Buy/Short (Day)
                    <br> <b>Description:</b> Stock runs and over extends quickly. Jump on trend off the bounce off VWAP. Usually best for scalping $.50 - $1 moves
                    <br /> <b>Test to use:</b> Speed Test</p>
            </div>
            <div class=" col-sm-6 col-xs-12">
                <h3>VWAP</h3>
                <img class="img-responsive" src="/img/playbook/vwap-test.jpg" />
                <p class="padding-20"><b>Time of Day:</b> Late Day
                    <br /> <b>Type of Trade:</b> Short (Day)
                    <br /> <b>Description:</b> Stock has trended all day. It over extends on VWAP +10% and it extends off trend line. Look for people taking profits in the last hr.
                    <br /><b>Test to use:</b> VWAP Test</p>
            </div>
        </div>
        <div class="row padding-20">
            <div class=" col-sm-6 col-xs-12">
                <h3>2 Large Candle Reversal</h3>
                <img class="img-responsive" src="/img/playbook/swing-test.jpg" />
                <p class="padding-20"><b>Time of Day:</b> Multi-Day
                    <br /> <b>Type of Trade:</b> Buy/Short (Swing)
                    <br /><b>Description:</b> Stock had twin tower type candles that are very large. Usually signals a swing trade reversal. Notice the stock has not had a considerable pullback yet. Look to buy/short the next day off red to green or green to red kind of move.<b>
                    <br />Test to use:</b> Swing Test</p>
            </div>
        </div>
    </div>
</section>
