<!DOCTYPE html>
<html lang="en" ng-app="stockScannerApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stock Scanner" />
    <meta name="keywords" content="Stock Scanner" />
    <title>Stock Scanner</title>
    <meta name="author" content="Jim Hooper">
    <link rel="stylesheet" href="/css/global.css" />
</head>

<body ng-controller="stockController">
    <header>
    </header>
    <section id="section-1">
        <div class="container-fluid" ng-class="class">
            <h1 class="page-header">Stock Scanner</h1>
            <button class="btn start" ng-click="startScan()">Start Scan</button> <button class="btn stop" ng-click="stopScan()">Stop Scan</button>
            <div class="row margin-top-20 f-18">
                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <h3>ABCD</h3>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Price</th>
                                <th>VWAP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stockA in stocksABCD">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td>{{ stockA.symbol }}</td>
                                <td>{{ stockA.last }}</td>
                                <td>{{ stockA.vwap }}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                     
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <h3>VWAP</h3>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Price</th>
                                <th>VWAP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stockV in stocksVWAP">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td>{{ stockV.symbol }}</td>
                                <td>{{ stockV.last }}</td>
                                <td>{{ stockV.vwap }}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                     
                </div>
            </div>
        </div>
    </section>
    <footer>
    </footer>
    <script type="text/javascript" src="/js/global.js"></script>
</body>

</html>