<!DOCTYPE html>
<html lang="en" ng-app="stockScannerApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Stock Scanner" />
    <meta name="keywords" content="Stock Scanner" />
    <title>Stock Scanner</title>
    <meta name="author" content="Jim Hooper">
    <link rel="stylesheet" href="/css/global.css" />
</head>

<body ng-controller="stockController">
    <header>
    </header>
    <section id="section-1">
        <div class="container-fluid" ng-class="class">
            <h1 class="page-header">Stock Scanner</h1>
            <button class="btn start" ng-click="startScan()">Start Scan</button> <button class="btn stop" ng-click="stopScan()">Stop Scan</button>
            <div class="row margin-top-20 f-18">
                <div class="col-sm-3">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <h3>A-ABCD</h3>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Price</th>
                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stockA in stocksA | orderBy:'-pchg'">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td><a target="_blank" href="https://twitter.com/search?q=%24{{ stockA.symbol }}&src=ctag">{{ stockA.symbol }}</a></td>
                                <td>{{ stockA.last }}</td>
                                 <td>{{ stockA.pchg }}</td>
                                 
                            
                            </tr>
                            
                        </tbody>
                    </table>
                     
                </div>
                <!-- <div class="col-sm-4">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <h3>VWAP</h3>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Price</th>
                                <th>VWAP</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stockV in stocksVWAP">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td>{{ stockV.symbol }}</td>
                                <td>{{ stockV.last }}</td>
                                <td>{{ stockV.vwap }}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                     
                </div> -->
                <div class="col-sm-3">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <h3>B-VWAP Diff</h3>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Price</th>
                                <th>VWAP</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stockB in stocksB | orderBy:'-vl'">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td><a target="_blank" href="https://twitter.com/search?q=%24{{ stockB.symbol }}&src=ctag">{{ stockB.symbol }}</a></td>
                                <td>{{ stockB.last }}</td>
                                <td>{{ stockB.vwap }}</td>
                               

                                
                            </tr>
                            
                        </tbody>
                    </table>
                     
                </div>
                <div class="col-sm-3">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <h3>C-Vwap-Close</h3>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Price</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stockC in stocksC | orderBy:'-vl'">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td><a target="_blank" href="https://twitter.com/search?q=%24{{ stockC.symbol }}&src=ctag">{{ stockC.symbol }}</a></td>
                                <td>{{ stockC.last }}</td>

                            </tr>
                            
                        </tbody>
                    </table>
                     
                </div>
                <div class="col-sm-3">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <h3>D-Vwap-Beta</h3>
                            <tr>
                                <th>#</th>
                                <th>Symbol</th>
                                <th>Price</th>
                                <th>Beta</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stockD in stocksD | orderBy:'-beta'">
                                <th scope="row">{{ $index + 1 }}</th>
                                <td><a target="_blank" href="https://twitter.com/search?q=%24{{ stockD.symbol }}&src=ctag">{{ stockD.symbol }}</a></td>
                                <td>{{ stockD.last }}</td>
                                <td>{{ stockD.beta }}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                     
                </div>
            </div>
        </div>
    </section>
    <footer>
    </footer>
    <script type="text/javascript" src="/js/global.js"></script>
</body>

</html>